In [1]:
import pandas as pd
import numpy as np

def getData():

    energy = pd.read_excel('Energy Indicators.xls', header=None, skipfooter=2)
    #print (energy)
    energy = (energy.drop([0, 1], axis=1) 
                     .dropna() #drop NaN's
                     .drop(9)
                     .rename(columns={2: 'Country', 
                                      3: 'Energy Supply',
                                      4: 'Energy Supply per Capita',
                                      5: '% Renewable'})
                     .replace(regex=True, to_replace=[r'\d', r' \(([^)]+)\)'], value=r'') 
                     .replace(to_replace=["...", "Republic of Korea", "United States of America", 
                                         "United Kingdom of Great Britain and Northern Ireland",
                                         "China, Hong Kong Special Administrative Region"],
                              value=[np.NaN, "South Korea", "United States", "United Kingdom", "Hong Kong"])) 
    energy['Energy Supply'] = energy['Energy Supply'] * 1000000
    #energy.set_index(['Country'],inplace=True)
 
    GDP = pd.read_csv('world_bank.csv', header=None, skiprows=4)
    GDP = (GDP.rename(columns=GDP.iloc[0])
              .drop(0)
              .replace(to_replace=["Korea, Rep.", "Iran, Islamic Rep.", "Hong Kong SAR, China"],
                       value=["South Korea", "Iran", "Hong Kong"])
             .rename(columns={2006: '2006', 2007: '2007', 2008: '2008', 2009: '2009', 2010: '2010',
                                   2011: '2011', 2012: '2012', 2013: '2013', 2014: '2014', 2015: '2015'}))
   # GDP.set_index(['Country'],inplace=True) 
    ScimEn = pd.read_excel('scimagojr-3.xlsx')
    return energy, GDP, ScimEn

def answer_one():
    energy, GDP, ScimEn = getData()
    energy.to_excel
    energy = energy.dropna()
    GDP_columns = ['Country Name', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    GDP = GDP[GDP_columns] 
    ScimEn_columns = ['Rank', 'Country', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index']
    ScimEn = ScimEn[ScimEn_columns]
    ScimEn = ScimEn[:15] 

    new = pd.merge(energy, GDP, how="inner", left_on="Country", right_on="Country Name")
    new = new.drop(['Country Name'], axis=1)
    new = pd.merge(new, ScimEn, how="inner", left_on='Country', right_on='Country')
    new = new.set_index('Country')
    columns = ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    new = new[columns]
    return new
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13

In [2]:
def answer_two():
    energy, GDP, ScimEn = getData()
    m1 = pd.merge(energy, GDP, how="outer", left_on="Country", right_on="Country Name")
    m2 = pd.merge(m1, ScimEn, how="outer", left_on="Country", right_on="Country")
   # m3 = pd.merge(GDP, ScimEn, how="outer", left_on="Country Name", right_on="Country")
   # actual = pd.merge(m1, ScimEn, how="inner", left_on="Country", right_on="Country")
    g = len(m2.index)-len(answer_one())
    return g
answer_two()

308

In [3]:
def answer_three():
    Top15 = answer_one()
    avgGDP = Top15.loc[:, '2006':'2015'].mean(axis=1).sort_values(ascending=False)
    return avgGDP
answer_three()

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
dtype: float64

In [4]:
def answer_four():
    Top15 = answer_one()
    country = answer_three().index[5]
    state2015 = Top15.loc[country, '2015']
    state2006 = Top15.loc[country, '2006']
    ans = state2015 - state2006
    return ans
answer_four()

246702696075.3999

In [5]:
def answer_five():
    Top15 = answer_one()
    ans = Top15['Energy Supply per Capita'].mean()
    return ans
answer_five()

157.6

In [6]:
def answer_six():
    Top15 = answer_one()
    state = Top15['% Renewable'].idxmax() 
    value = Top15['% Renewable'].max() 
    return state, value
answer_six()

('Brazil', 69.64803)

In [7]:
def answer_seven():
    Top15 = answer_one()
    Top15['Self-citations Ratio'] = Top15['Self-citations'] / Top15['Citations']
    state = Top15['Self-citations Ratio'].idxmax()
    value = Top15['Self-citations Ratio'].max()
    return state, value
answer_seven()

('China', 0.6893126179389422)

In [9]:
def answer_eight():
    Top15 = answer_one()
    Top15['People'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    # Top15.dtypes
    Top15 = Top15.sort_values('People', ascending=False)
# Top15['Population']
# Top15
    state = Top15.index[2]
    return state
answer_eight()

'United States'

In [10]:
def answer_nine():
    Top15 = answer_one()
    Top15['People'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable documents per capita'] = Top15['Citable documents'] / Top15['People']
    ans = Top15['Citable documents per capita'].corr(Top15['Energy Supply per Capita'])
    return ans
answer_nine()

0.7940010435442942

In [11]:
def answer_ten():
    Top15 = answer_one()
    median_value = Top15['% Renewable'].median()
    states_renew = Top15['% Renewable'].map(lambda x: 1 if x >= median_value else 0)
    return states_renew
answer_ten()

Country
Australia             0
Brazil                1
Canada                1
China                 1
France                1
Germany               1
India                 0
Iran                  0
Italy                 1
Japan                 0
South Korea           0
Russian Federation    1
Spain                 1
United Kingdom        0
United States         0
Name: % Renewable, dtype: int64

In [12]:

def answer_eleven():
    df = answer_one()
    df['people']=df['Energy Supply']/df['Energy Supply per Capita']
    df['people'] = np.float64(df['people'])
    ContinentDict = {'China':'Asia', 'United States':'North America', 'Japan':'Asia', 'United Kingdom':'Europe', 'Russian Federation':'Europe', 'Canada':'North America',
 'Germany':'Europe',
 'India':'Asia',
 'France':'Europe',
 'South Korea':'Asia',
 'Italy':'Europe',
 'Spain':'Europe',
 'Iran':'Asia',
 'Australia':'Australia',
 'Brazil':'South America'}
    df.rename(index=ContinentDict,inplace=True)
    df.reset_index(inplace = True)
    result = df[['Country','people']].groupby('Country').agg(['size', 'sum', 'mean', 'std'])
    return(result)
answer_eleven()

              people
                size           sum          mean           std
Country
Asia               5  2.898666e+09  5.797333e+08  6.790979e+08
Australia          1  2.331602e+07  2.331602e+07           NaN
Europe             6  4.579297e+08  7.632161e+07  3.464767e+07
North America      2  3.528552e+08  1.764276e+08  1.996696e+08
South America      1  2.059153e+08  2.059153e+08           NaN

In [13]:
def answer_twelve():
    ContinentDict = {'China':'Asia', 'United States':'North America', 'Japan':'Asia', 'United Kingdom':'Europe', 'Russian Federation':'Europe', 'Canada':'North America',
 'Germany':'Europe',
 'India':'Asia',
 'France':'Europe',
 'South Korea':'Asia',
 'Italy':'Europe',
 'Spain':'Europe',
 'Iran':'Asia',
 'Australia':'Australia',
 'Brazil':'South America'}
    Top15 = answer_one()
    Top15 = Top15.reset_index()
    Top15['% Renewable Bin'] = pd.cut(Top15['% Renewable'], bins=5, labels=["lowest", "low", "medium", "high", "highest"])
    Top15['Continent'] = Top15['Country'].map(ContinentDict)
    ans = Top15.groupby(['Continent', '% Renewable Bin'])['Country'].count()
    return ans
answer_twelve()

Continent      % Renewable Bin
Asia           lowest             4
               low                1
Australia      lowest             1
Europe         lowest             1
               low                3
               medium             2
North America  lowest             1
               highest            1
South America  highest            1
Name: Country, dtype: int64

In [14]:
def answer_thirteen():
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['PopEst'] = Top15['PopEst'].map('{:,}'.format)
    return Top15['PopEst']
answer_thirteen()

Country
Australia              23,316,017.316017315
Brazil                 205,915,254.23728815
Canada                  35,239,864.86486486
China                 1,367,645,161.2903225
France                  63,837,349.39759036
Germany                 80,369,696.96969697
India                 1,276,730,769.2307692
Iran                    77,075,630.25210084
Italy                  59,908,256.880733944
Japan                  127,409,395.97315437
South Korea            49,805,429.864253394
Russian Federation            143,500,000.0
Spain                    46,443,396.2264151
United Kingdom         63,870,967.741935484
United States          317,615,384.61538464
Name: PopEst, dtype: object